.super-mario {
    width: 200px;
    position: absolute;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 40px;
   
  }
  
  .baloon {
  position:absolute;
  top: 600px;
  z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 640px;
    z-index: 3;
    left: 30px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 1;
    top:710px;
    left: 280px;
  }